body {
    background: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
 }
 h1 {
    text-align: center;
    color: rgb(74, 128, 255);
 }
 .about {
    background: rgb(255, 255, 255);
 }
 